<template name="MainNav">
    <nav class="main-nav">
      {{#if isInRole 'admin'}}
      <a> <i class="logout fa fa-sign-out pull-right fa-2x" ></i></a>
      <a href="/mangmentReports"><i class="fa fa-line-chart fa-fw pull-right  fa-2x" ></i></a>
      <a href="/NurseNotification"><i class="fa fa-user-md fa-fw pull-right fa-2x"></i> </a>
      <a href="/"><i class="fa fa-home fa-fw pull-right  fa-2x" ></i></a>


      {{/if}}
      {{#if isInRole 'doctor'}}
      <a> <i class="logout fa fa-sign-out pull-right fa-2x" ></i></a>

      <a href="/drAccounting"><i class="fa fa-file-text-o pull-right fa-2x"></i> </a>
      <a href="/DrNotification"><i class="fa fa-home fa-fw pull-right  fa-2x" ></i></a>
      {{/if}}

      {{#if isInRole 'reservation'}}
      <a> <i class="logout fa fa-sign-out pull-right fa-2x" ></i></a>
      <a href="/stock"><i class="fa fa-medkit fa-fw pull-right fa-2x"></i> </a>

      <a href="/reservation"><i class="fa fa-stethoscope fa-fw pull-right fa-2x"></i> </a>

      <a href="/"><i class="fa fa-home fa-fw pull-right  fa-2x" ></i></a>

      {{/if}}

    </nav>
</template>
